@media (max-width: 510px) {
    .mat-mdc-table {
        max-height: 80vh;
        overflow: auto;
        width: 80vw;
    }
}

@media (min-width: 511px) {
    .mat-mdc-table {
        height: 100%;
        max-height: 84vh;
        overflow: auto;
        width: 75vw;
    }
    .mat-column-B {
        min-height: 12.5vh;
    }
}

.btn-back {
    display: flex;
    justify-content: left;
    margin: 1rem;
    button {
        align-items: end;
    }
}

.bingo-table {
    position: relative;
    top: 2vh;
    display: flex;
    justify-content: center;
}

.card-table {
    background-color: #808dd3;
}

.mdc-data-table__table {
    min-width: 0%;
}

mat-header-cell {
    font-style: bold;
    color: #202a5e;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

mat-cell {
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
}

mat-cell:hover {
    cursor: pointer;
}

mat-header-cell:hover {
    cursor: default;
}

.mat-cell-active {
    color: #352c02;
    background-color: #e1d8aa;
}

.mat-cell-inactive {
    color: #020d45;
    background-color: #aab3e1;
}

.spinner {
    background-color: #020d45;
    height: 100%;
    width: 100%;
    color: #ff4081;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
